.container {
    box-sizing: border-box;
    width: 60%;
    padding: 60px;
}

ul {
    list-style-type: none;
    margin-top: 10px;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

h1 {
    box-sizing: border-box;
    width: 100%;
    padding: 60px 60px 0px 60px;
}